
@{
    ViewData["Title"] = "NewMail";
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}

@model NewMailViewModel

<!--Mail List Start-->
<div class="mail-list">
    <div class="form">
        <form asp-action="SendMail" asp-controller="Mail" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 mb-30">
                    <input asp-for="RecieverEmail" class="form-control" type="email" placeholder="به">
                </div>
                <div class="col-12 mb-30">
                    <input asp-for="Subject" class="form-control" type="text" placeholder="موضوع">
                </div>
                <div class="col-12 mb-30">
                    <textarea asp-for="Body" class="summernote" id="mailBody"></textarea>
                    <!--this script will save the plane text that user enter in the text area-->
                    <script>

                    </script>
                </div>
                <div class="buttons-group col-12">
                    @*<a asp-action="SendMail" asp-controller="Mail" type="button" class="button button-outline button-round button-warning"><i class="zmdi zmdi-attachment-alt"></i> ضمیمه فایل</a>
                        <a asp-action="SendMail" asp-controller="Mail" type="button" class="button button-outline button-round button-info">ذخیره پیش نویس</a>*@
                    <button class="button button-round button-primary submit">ارسال</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!--Mail List End-->